apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: web-app-in-k8s
  name: web-app-in-k8s
spec:
  template:
    metadata:
      labels:
        app: web-app-in-k8s
    spec:
      containers:
        - image: bogdansolga/nodejs-app:1.0
          name: nodejs-app
          ports:
            - containerPort: 3000

        - image: bogdansolga/java-app:1.0
          name: java-app
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: database-credentials
                  key: DATABASE_NAME
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-credentials
                  key: DATABASE_PASSWORD

            - name: USERNAME
              valueFrom:
                configMapRef:
                  name: database-connection-details
                  key: USERNAME
            - name: HOST
              valueFrom:
                configMapRef:
                  name: database-connection-details
                  key: HOST
            - name: PORT
              valueFrom:
                configMapRef:
                  name: database-connection-details
                  key: PORT

        - image: postgres:12.2
          name: database-host
          ports:
            - containerPort: 5432